{% load static %}
<!-- ========== TOPBAR ========== -->
<div class="topbar">
    <!-- ---------- TOPBAR SEARCH CONTAINER ---------- -->

    <h3 class="top__title">Dashboard</h3>

    <!-- ---------- TOPBAR RIGHT CONTAINER ---------- -->
    <div class="profile">
        <div class="profile__img">
            <img src="{% static 'images/person_CZNTMbI.png' %}" alt="">
        </div>
        <div class="profile__info">
          <h5 class="profile__name">Michael Williams</h5>
          <h5 class="profile__email">michael.w@gmail.com</h5>
        </div>
  
        <div class="profile__option">
            <img src="{% static 'icons/ic_arrowdown.svg' %}" alt="" class="option">
        </div>
      </div>
      <img src="{% static 'icons/ic-menu.svg' %}" alt="" class="menu">
</div>